ul li a {
    color: black;
}

ul li a:hover {
    color: white;
    background-color: black;
    border-radius: 5px;
}

.btn-job {
    background-color: purple;
    margin-left: 10px;
    color: white;
    height: 40px;
    width: 150px;
}

.btn-black {
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
}
.navHover:hover {
    background-color: white;
    color: black;
}

.background {
    width: 100%;
    background: url("./img/job.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.btn-white {
    background-color: white;
    color: black;
    height: 40px;
    width: 150px;
}
.btn-white:hover {
    background-color: black;
    color: white;
}

.content {
    padding-top: 15%;
    padding-left: 120px;
    color: white;
}

.content h1 p {
    color: white;
}
pre {
    color: gray;
}

.search {
    display: flex;
    padding: 10px;
}

.location {
    margin-left: 50px;
}

#searchBtn {
    margin-top: 60px;
    margin-left: 30px;
}

input {
    padding: 5px;
    border: 0.4px solid gray;
}
.jobs {
    width: 100%;
    height: 100%;
}

.temJob {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.jobDetail {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.jobState {
    margin-top: 30px;
    margin-right: 40px;
}

.btn-apply {
    background-color: white;
    color: black;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    border: 1px solid purple;
    margin-right: 70px;
    margin-top: 30px;
}
.btn-apply:hover {
    background-color: purple;
    color: white;
}
#upload {
    display: block;
    width: 25%;
    margin: auto;
}

#upload h6 {
    margin-left: 10px;
}
.btn-upload {
    background-color: black;
    margin-left: 10px;
    color: white;
    height: 40px;
    width: 150px;
    margin-bottom: 30px;
}

.social {
    display: block;
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
}
i {
    color: purple;
}

i:hover {
    color: gray;
}

footer {
    font-family: Cambria, Cochin, Georgia, Times,
        "Times New Roman", serif;
    padding-left: 30px;
}

@media screen and(max-width: 480px) {
    .nav {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        width: 100%;
    }

    .background {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .background .content {
        padding-left: 10px;
    }
    .background .content h1 {
        font-size: 2rem;
        padding-top: 60px;
    }

    .overlay button {
        width: 40%;
        padding: 0;
    }

    .overlay .btn-white {
        width: 45%;
    }

    .search {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .search .location {
        margin: 0;
        margin-top: 10px;
    }

    .search #searchBtn {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .defaultJob {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .defaultJob h3 {
        text-align: center;
    }

    .defaultJob .temJob {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 150px;
    }

    .defaultJob .temJob .jobDetail p {
        font-size: 12px;
        margin-top: 0;
    }
    .defaultJob .temJob .jobDetail h6 {
        font-size: 15px;
    }

    .defaultJob .temJob .btn-apply {
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
    }

    footer #upload {
        text-align: center;
        width: 200px;
        margin-bottom: 0;
    }
    small {
        text-align: center;
        margin-bottom: 10px;
    }

    .social {
        width: 100%;
        margin-left: 50px;
        margin-bottom: 10px;
    }
}

/* login page */
.login {
    overflow: hidden;
}
.form-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.btn-primary {
    height: 40px;
    width: 150px;
    display: block;
}

.checked {
    display: flex;
    flex-direction: row;
}

.forgot {
    margin-left: 100px;
}
.para {
    text-align: center;
}

.signUp {
    display: block;
    width: 30%;
    margin-left: 38%;
}

.foot {
    padding-top: 40px;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
    }

    .form-container .btn-primary {
        display: block;
        width: 100%;
    }

    .signUp {
        display: inline-block;
        width: 40%;
        margin-left: 95px;
    }
}

@media screen and (max-width: 1024px) {
    .form-container {
        width: 100%;
        display: block;
        margin: auto;
    }

    .form-container .btn-primary {
        display: block;
        width: 100%;
    }

    .signUp {
        display: inline-block;
    }
}
