nav ul > li {
    color: black;
}

.btn-job {
    background-color: purple;
    margin-left: 10px;
    color: white;
    height: 40px;
}

.btn-black {
    background-color: black;
    color: white;
    height: 40px;
}
